---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

	<div class="wrapper">

	<div class="hero">
		<div class="container">
			<div class="nav">
				<div class="nav-left">
					<button>MENU</button>
				</div>
				<div class="nav-right">
					<a href="#">Контакты</a>
				</div>
			</div>

			<div class="speedometr" style="background-image: url(img/speedometr.png);">
				<div class="left-button-block">
					<div class="first-line">
						<div class="icon" style="background-image: url(img/icon1.png);"></div>
						<div class="icon" style="background-image: url(img/icon4.png);"></div>
					</div>
					<div class="second-line">
						<div class="icon" style="background-image: url(img/icon6.png);"></div>
						<div class="icon" style="background-image: url(img/icon3.png);"></div>
						<div class="icon" style="background-image: url(img/icon5.png);"></div>
					</div>
					<div class="third-line">
						<div class="icon" style="background-image: url(img/icon2.png);"></div>
					</div>
				</div>

				<div class="right-button-block">
					<div class="first-line"></div>
				</div>
			</div>

			<div style="background-color: red; width: 100px; height: 20px;">

			</div>

			<!-- <div class="header">
				<div class="header__logo">
					<h2>BLAH</h2>
				</div>

				<a href="tel:" class="header__phone"></a>
				<a href="tel:" class="header__call"></a>
			</div> -->


		</div>
	</div>

	<div class="page1 text-page">
		<div>
			<div class="photo"></div>
		</div>

		<div class="text">
			<h3>ДИАГНОСТИКА АВТОМОБИЛЯ</h3>
			<p>
					Наша компания предлагает профессиональную комплексную компьютерную диагностику. Наличие оборудования дилерского уровня с последними заводскими обновлениями, позволяет осуществлять диагностику и производить ремонт современных авто, произведенных в 2015, 2016, 2017, 2018 и даже 2019.<br>

					Электрика автомобиля самая сложная его часть. Учитывая всё многообразие современного автопрома, а так же наличие соответствующего опыта и знаний - предлагаем доверить ремонт электрики Вашего авто профессионалам!<br>
					Непрофессиональный подход может лишь усугубить ситуацию и в последствии небольшая поломка может перерасти в дорогостоящий ремонт.<br>
					Мы производим самые сложные ремонты любой электрической системы автомобиля.

			</p>
		</div>
	</div>

	<div class="page2 text-page">
		<div>
			<div class="photo"></div>
		</div>

		<div class="text">
			<h3>РЕМОНТ ЭЛЕКТРООБОРУДОВАНИЯ</h3>
			<p>Мы производим ремонт электрооборудования автомобилей в Минске дешево. Ремонт блоков управления двигателя, АBS, иммобилайзера, программирование и восстановление чип-ключей по самым доступным ценам.</p>
			<h4>Поверьте, что 90% поломок можно устранить прямо на месте!</h4>
			<ul>
				<li>предварительно необходимо провести полную компьютерную диагностику вашего авто ( часто бывает, что клиенты описывая по телефону проблему не подозревают, что причина неисправности находится в совсем другом );</li>
				<li>по результатам диагностики будет предложено несколько вариантов ( ремонт авто на месте; снятие отдельных систем автомобиля для ремонта в сервисе или полной их замене на новые комплектующие; если проблема не в электрике авто, а с ее механической частью, то можно будет вызвать автомеханика или эвакуатор для продолжения ремонта в сервисе );</li>
				<li>ремонт или замена электропроводки;</li>
				<li>замена неисправных датчиков;</li>
				<li>замена неисправных реле;</li>
				<li>замена свечей зажигания, высоковольтных проводов;</li>
				<li>замена АКБ ( аккумулятора ) или прикурить/зарядить его от внешнего источника;</li>
				<li>замена предохранителей; </li>
				<li>устранение "утечки тока", поиск обрывов проводки;</li>
				<li>ремонт или замена замков зажигания;</li>
				<li>замена или ремонт электронных блоков управления;</li>
				<li>установка дополнительного или нестандартного оборудования;</li>
				<li>ремонт систем отопления, вентиляции;</li>
				<li>ремонт или замена блоков фар ( наружного освещения и световой сигнализации );</li>
				<li>ремонт или замена внутрисалонного освещения;</li>
				<li>работы с иммобилайзером;</li>
				<li>ремонт или замена люков, подогрева сидений, стеклоподъемников, контрольных приборов и др;</li>
				<li>ремонт, разблокировка, демонтаж, отключение сигнализаций;</li>
				<li>изготовление чип-ключей;</li>
				<li><strong>по окончанию работ в качестве бонуса скидываем ошибки!</strong></li>
			</ul>
			<p>Вы можете позвонить нам в любое удобное для Вас время!
					Работаем по принципу - сначала диагностика, а потом устранение неисправностей!
					</p>
		</div>
	</div>

	<div class="page1 text-page">
		<div>
			<div class="photo"></div>
		</div>

		<div class="text">
			<h3>СБРОС ОШИБКИ SRS AIRBAG</h3>
			<p>
					Сброс ошибки Airbag (SRS) может понадобиться автовладельцу после ДТП и даже небольших столкновений (когда загорается ошибка Airbag). Также проблема нередко возникает в результате манипуляций с рулем или водительским сиденьем. Кроме того, причиной возникновения ошибки может стать любой сбой в работе электроники или поломка датчиков. Вне зависимости от причины, если у вас горит эта ошибка, есть повод обратиться к нам.<br>
					Наша компания специализируется на ремонте с подушками безопасности. Этот элемент активной защиты является важной частью систем безопасности автомобиля. А потому нуждается в регулярной диагностике и сервисном обслуживании. Наши специалисты проведут полную диагностику и устранят все обнаруженные неисправности.<br>
					Пять причин доверить свою безопасность нам:
					работа с авто любой модели;
					полная диагностика систем активной безопасности автомобиля;
					быстрый поиск и устранение неисправностей;
					гарантия на все виды работ;
					доступная стоимость.<br>
					Сброс ошибок осуществляется только после диагностики с использованием специализированного программного обеспечения, что является гарантией высокого качества работ. После обслуживания вы сможете быть уверены в собственной безопасности, а горевшая на панели лампочка больше не будет отвлекать вас от управления автомобилем.

			</p>
		</div>
	</div>

	<div class="page2 text-page">
		<div>
			<div class="photo"></div>
		</div>

		<div class="text">
			<h3>ПОДБОР АВТОМОБИЛЯ</h3>
			<p>Наши специалисты помогут осуществить подбор автомобиля в соответствии с требования заказчика по следующим критериям:</p>
			<ul>
				<!-- •	 -->
				<li>Диагностика двигателя автомобиля</li>
				<li>Компьютерная диагностика всех важных электронных систем</li>
				<li>Проверка не производился ли кузовной ремонт (бита/не бита)</li>
				<li>Проверка соответствия пробега</li>
				<li>Проверка истории покупки авто (аукционы Copart, IAAI, Manheim и пр.)</li>
			</ul>

			<button>Заказать услугу</button>
		</div>
	</div>

	<div class="page1 text-page">
		<div>
			<div class="photo"></div>
		</div>

		<div class="text">
			<h3>Дооснащение и шумоизоляция авто</h3>
			<p>Установка аудио и видеосистем, дополнительного оборудования. Шумоизоляция автомобиля.</p>
			<ul>
				<li>УВЭОС Глонасс</li>
				<li>Треккеры (Мониторинг)</li>
				<li>Автосигнализации</li>
				<li>Камеры заднего вида</li>
				<li>Парктроники</li>
				<li>Шумоизоляция</li>
				<li>Автомобильное видео</li>
				<li>Акустика</li>
				<li>Сабвуферы</li>
				<li>Усилители</li>
			</ul>
		</div>
	</div>


	</div>

	<div class="footer">
		<div class="footer-images" style="width: 90%; height: 100px;"></div>
		<div class="footer-text">
			<p>Если ваш автомобиль неожиданно "затроил", перестал набирать обороты, загорелась лампочка "чек" check engine, или по непонятной причине вышли из строя электроприборы, то без компьютерной диагностики не обойтись.<br><br>
					Проверить ваш автомобиль диагностическим прибором ( или перед его покупкой ), удалить ошибки, проверить состояние датчиков в режиме реального времени - наши специалисты готовы помочь в любое удобное для Вас время с выездом на место стоянки вашего авто.
				</p>
		</div>

		<div class="contacts">
			<h3>Контакты:</h3>
			<span>+375 29 6504160 <span class="contacts-icon a1"></span></span> <!-- icons -->
			<span>+375 33 6205678 <span class="contacts-icon mts"></span></span> <!-- icons -->
			<span>usedpartsby@gmail.com</span>
		</div>
	</div>

	<!-- {# variable example #}
	<h1>{{title}}</h1> -->


	<!--
	{# partial example #}
	{% include "partials/_header.html" %}

	{# mixin example #}
	{{mixins.icon('facebook')}}
	-->


	<!--
	{# data usage example #}
		{% import "data/data.html" as tests %}

		{% for test in tests.list %}
		<li>{{test.title}}</li>
		{% endfor %}
	{# end of example #}
	-->

{% endblock %}
